ul.mv {
	list-style: none;
	padding: 20px;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

ul.mh {
	list-style: none;
	padding: 20px;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}